.logo{
    color: #4E47FF;
    font-size: 34px;
    
}
.button{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
  transition: all 0.3s ease;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 100px;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:900 ;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.head{
    font-size: 65px;
    color: #252432;
    width: 905px;
    height: 152px;
    margin-bottom: 37px;
    
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
}
.header{
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.action{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 115px;
}

.action-pic img
{
    width: 400px;
    height: 325px;
    margin-right: 200px;
    border-radius: 48px;
}
.action-text{
    margin-left: 150px;
}
.action-title{
    font-weight: bold;
    font-size: 42px;
    color: #252432;
    margin-bottom: 23px;
}
.action-description{
    font-weight: 400;
    font-size: 24px;
    color: #252432;
    opacity: 50%;
    margin-bottom: 23px;
    width: 70%;
}

.user{
    margin-top: 150px;
    margin-left: 150px;
    margin-right: 150px;
    max-width: 1140px;
    min-height: 306px;
    background-color: rgba(78, 71, 255, 0.1);
    border-radius: 25px;
    text-align: center;
    padding:0 80px;
}

.user-head{
    padding-top: 50px;
    font-weight: bold;
    font-size: 38px;
    text-align: center;
    color: #252432;
}
.user-num{
    display: flex;
    justify-content: space-around;
    gap: 50px;
}

.user-number{
    font-size: 80px;
    font-weight: bold;
    color: #4E47FF;
    margin: 0;
}
.user-description{
    font-weight: 400;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.5);
    margin: 0;
}
.users{
    margin: 0 80px;
    padding-bottom: 40px;
}

.card-container{
    max-width: 1140px;
      margin: 0 auto;
      margin-top: 135px;
      text-align: start;
}
.card-intro{
    font-size: 42px;
    font-weight: bold;
    color: #252432;
    text-align: center;
    margin-bottom: 50px;
}

.all-card {
      display: flex;
      justify-content: space-between;
      gap: 24px;
      
    }
    .card {
      background-color: rgba(255, 255, 255, 0.5);
      padding: 10px 30px;
      border-radius: 14px;
      box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
      min-width: 280px;
      max-width: 360px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    .card-title {
      font-size: 22px;
      font-weight: 700;
      margin-bottom: 8px;
      color: #252432;
    }
    .card-description{
        font-size: 16px;
      color: #555;
      margin-bottom: 20px;
    }
    .reviewer{
        display: flex;
        align-items: center;
      gap: 12px;
    }
    .reviewer img {
      width: 40px;
      height: 40px;
      border-radius: 50%;
    }
    .reviewer{
      text-align: left;
    }

    .reviewer-info {
      font-weight: 600;
      font-size: 14px;
      color: #252432;
    }

    .reviewer-desc {
      font-size: 12px;
      color: #999;
    }
    .form{
        margin-top: 150px;
        margin-left: 30px;
        display: flex;
        padding: 100px 150px;
        gap: 100px;
        background-color: rgba(255, 255, 255, 0.5);
    }
    .footer-column{
        width: 50%;
    }
    .footer-title{
        font-size: 96px;
        font-weight: bold;
        color: #000000;
    }

    .form input[type="email"],.form input[type="text"],.form textarea{
        height: 70px;
        border-radius: 10px;
        background-color: white;
        display: block;
        width: 500px;
        font-size: 20px;
        padding: 10px 20px;
        margin-bottom: 20px;
        border: none;
        box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.05);

    }
    label{
        font-size: 15px;
        font-weight: bold;
    }

    .about{
        margin-top: 100px;
        text-align: center;
        text-wrap: wrap;
    }
    .logo2{
        font-size: 100px;
        font-weight: 800;
        color: #4E47FF;
        margin: 0;

    }
    .web-desc{
        max-width: 400px;
        color: #8987A1;
        font-size: 16px;
        margin: 20px auto;
    }
    .list {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  flex-wrap: wrap;
  margin-bottom: 100px;
}

.list li {
    text-decoration: none;
  color: #8987A1;
  cursor: pointer;
  font-weight: 500;
}

.button:hover{
    background-color: orange;
    transform: scale(1.05);
}