.logo{
    color: #4E47FF;
    font-size: 34px;
    
}
.button{
    background-color: #4E47FF;
    font-size: 16px;
    font-weight: bold;
    color: #FFFFFF;
    padding: 12px 36px;
    border-radius: 10px;
    border: none;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 100px 100px;
}


.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight:900 ;
  font-style: normal;
}

.raleway-normal {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

.head{
    font-size: 65px;
    color: #252432;
    width: 905px;
    height: 152px;
    margin-bottom: 37px;
    
}
.title{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-bottom: 200px;
}
.header{
    background-image: url(../images/Hero-bg.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
}





